include LICENSE.txt
include README.md
include src/problem_bank_scripts/VERSION.txt

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.py[cod]
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
